/* solo importaciones */

@import "reset.css";
@import "variables.css";
@import "components/main_components.css";

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "DEATHNOTE Font";
  src: url("DEATHNOTEFont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}




body {
  font-family: "DEATHNOTE Font";
  background-color: var(--background_color);
  background-image: url("../img/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: 99%;
  background-position: top;
  overflow: hidden;
}

.poup {
  margin-top: 220px;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("hojaRota.png");
  display: flex;
  height: 60vh;
  justify-content: center;
  position: relative;
  width: 70%;
}

@media screen and (min-width: 769px) {
  body {
    background-size: 38%;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-size: 62%;
  }
}

@media screen and (min-width: 1025px) {
  body {
    background-size: 35%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-size: 30%;
  }
}
